@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    margin: 0;
    font-family: 'Sora', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    background-color: #07592B;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #12402663;
    flex-shrink: 0;
}

header img#logoEeep {
    width: 86px;
}

nav {
    display: flex;
    align-items: center;
    margin: auto;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px;
    padding: 10px 15px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown > a::after {
    content: "▼";
    font-size: 0.8em;
    color: white;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown:hover > a::after {
    transform: rotate(180deg);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F2F2F2;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    padding: 0;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
    padding: 12px 16px;
    color: black;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid darkgray;
    margin: 10px;
    transition: font-weight 0.3s;
}

.submenu a:hover {
    font-weight: bold;
}

.submenu a:active {
    color: #cb6115;
}


.submenu a:last-child {
    border-bottom: none;
}

main {
    min-width: 300px;
    max-width: 1000px;
    width: 90%;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #E6E6E6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.447);
    border-radius: 0px 0px 15px 15px;
    flex-grow: 1;
}

.pagina-curso {
    padding: 20px;
}

.pagina-curso .curso-header {
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.pagina-curso .logo-curso {
    width: 250px;
    margin: 0 auto 10px;
    display: block;
}

main h1 {
    font-family: 'Sora', sans-serif;
    text-transform: uppercase;
    color: #cb6115;
    font-size: 1.8em;
    text-align: center;
}

.curso-header h1 {
    margin: 0;
    font-size: 2.4em;
}

main h2 {
    font-size: 1.3em;
    color: white;
    background-image: linear-gradient(to right, #df7021, transparent);
    text-indent: 8px;
}


li{
    margin-bottom: 15px;
}

main h2.align-right {
    background-image: linear-gradient(to left, #df7021, transparent);
    text-align: right;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    font-size: 0.9em;
    line-height: 2em;
}

.imagem-com-texto {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
    padding: 10px;
}

.imagem-com-texto img {
    width: 50%;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

.imagem-com-texto .texto {
    flex: 0 0 45%;
    text-align: justify;
    line-height: 1.6;
}

.imagem-com-texto .texto h2 {
    margin-top: 0;
    font-size: 1.4em;
}

.imagem-com-texto .texto p {
    margin: 10px 0;
    font-size: 0.9em;
}

.imagem-direita {
    flex-direction: row-reverse;
}

.logo-curso {
    width: 320px;
    margin: auto;
    display: block;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    
}

section.section-com-imagem {
    background-color: rgb(62, 61, 61); /* Apenas pra preencher */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.377);
    background-size: cover;
    background-position: center;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 0;
    padding-right: 0;
}

section#escola {
    background-image: url(../imagens/frente-da-escola.jpg);
}

section#escola > h1 {
    font-size: 2.5em;
    color: white;
}

div.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.icone-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    transition: transform 0.3s;
}

.icone-container:hover {
    transform: scale(1.1);
}

.icone-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.5s ease;
}

.img-original {
    opacity: 1;
}

.img-hover {
    opacity: 0;
}

.matricula{
    width: 100%; 
    height: auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
    background-color: #ffffff;
    margin-top: 0;
    border-radius: 0;
    flex-grow: 1;
}

.esquerda {
    flex: 1; /* Ocupa metade do espaço (ajuste se quiser mais/menos) */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Centraliza verticalmente */
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
}

.titulo{
    color: #df7021;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
    font-weight: bold;
    padding: 10px;
}

input, select, textarea {
    width: 95%;
    padding: 8px;
    margin: 20px;
    margin-top: 7px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

input[type="submit"] {
    background-color: #124026;
    color: rgb(250, 249, 249);
    border: none;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
}

.direita {
    flex: 1; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-width: 50vw;
}

#foto-matricula {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50% 0 0 50%;
    max-width: 100%;
}

footer {
    background-color: #124026;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
    clear: both;
    flex-shrink: 0;
}